# Dataset Preparation for regression
**Instruction**  
The aim of this notebook is to make files for regression.  
The following code requires `PositiveDataset_public_YYMMDD.xlsx`, which we collected manually.

In [43]:
import pandas as pd
from rdkit import Chem
import os

In [13]:
# Read dataset
df = pd.read_excel('../datasets/PositiveDataset_public_221014.xlsx', sheet_name='PT', index_col=0)
df.head()

,SMILES,CCDC,Phase,CCDC.1,Phase.1,T_endo (K),dH_endo (kJ/mol),T_exo (K),dH_exo (kJ/mol),T_melt (K),dH_melt (kJ/mol),Acquisition,Acquisition memo,Ref.,Unnamed: 15
ID,,,,,,,,,,,,,,,
1,CC(NC(=O)c1ccc(cc1)N=Nc1ccc(cc1)N(C)C)c1ccccc1,"1556537, 1556538, 1556539, 1556540",beta,1556541,gamma,418.2,1.31,NaN,NaN,NaN,NaN,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
2,CC(NC(=O)c1ccc(cc1)N=Nc1ccc(cc1)N(C)C)c1ccccc1,1556541,gamma,"1556537, 1556538, 1556539, 1556540",beta,NaN,NaN,416.0,-1.29,NaN,NaN,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
3,CC(NC(=O)c1ccc(cc1)N=Nc1ccc(cc1)N(C)C)c1ccccc1,1556541,gamma,NaN,melt,NaN,NaN,NaN,NaN,493.0,36.2,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
4,COC(=O)c1ccc2cc1C1=CN(CCOCCOCCOCCOc3ccc(cc3)C#...,969125,alpha,969126,beta,333.0,2.40,NaN,NaN,NaN,NaN,0,NaN,https://doi.org/10.1002/anie.201402560,NaN
5,COC(=O)c1ccc2cc1C1=CN(CCOCCOCCOCCOc3ccc(cc3)C#...,969126,beta,969125,alpha,NaN,NaN,329.0,-3.10,NaN,NaN,0,NaN,https://doi.org/10.1002/anie.201402560,NaN

In [21]:
for i in range(df.shape[0]):
    mol = Chem.MolFromSmiles(df['SMILES'].iloc[i])
    smiles = Chem.MolToSmiles(mol)
    df['SMILES'].iloc[i] = smiles

C:\Users\s0928\anaconda3\envs\tf\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [22]:
df.head()

,SMILES,CCDC,Phase,CCDC.1,Phase.1,T_endo (K),dH_endo (kJ/mol),T_exo (K),dH_exo (kJ/mol),T_melt (K),dH_melt (kJ/mol),Acquisition,Acquisition memo,Ref.,Unnamed: 15
ID,,,,,,,,,,,,,,,
1,CC(NC(=O)c1ccc(N=Nc2ccc(N(C)C)cc2)cc1)c1ccccc1,"1556537, 1556538, 1556539, 1556540",beta,1556541,gamma,418.2,1.31,NaN,NaN,NaN,NaN,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
2,CC(NC(=O)c1ccc(N=Nc2ccc(N(C)C)cc2)cc1)c1ccccc1,1556541,gamma,"1556537, 1556538, 1556539, 1556540",beta,NaN,NaN,416.0,-1.29,NaN,NaN,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
3,CC(NC(=O)c1ccc(N=Nc2ccc(N(C)C)cc2)cc1)c1ccccc1,1556541,gamma,NaN,melt,NaN,NaN,NaN,NaN,493.0,36.2,0,NaN,https://doi.org/10.1038/s41467-017-02549-2,NaN
4,COC(=O)c1ccc2cc1-c1cn(nn1)CCOCCOCCOCCOc1ccc(cc...,969125,alpha,969126,beta,333.0,2.40,NaN,NaN,NaN,NaN,0,NaN,https://doi.org/10.1002/anie.201402560,NaN
5,COC(=O)c1ccc2cc1-c1cn(nn1)CCOCCOCCOCCOc1ccc(cc...,969126,beta,969125,alpha,NaN,NaN,329.0,-3.10,NaN,NaN,0,NaN,https://doi.org/10.1002/anie.201402560,NaN

In [35]:
df_Tendo = df[['SMILES', 'T_endo (K)']]
df_Tendo = df_Tendo.dropna()
df_Texo = df[['SMILES', 'T_exo (K)']]
df_Texo = df_Texo.dropna()
df_Hendo = df[['SMILES', 'dH_endo (kJ/mol)']]
df_Hendo = df_Hendo.dropna()
df_Hexo = df[['SMILES', 'dH_exo (kJ/mol)']]
df_Hexo = df_Hexo.dropna()

In [36]:
def getmaxmin(df, target):
    df = df.sort_values(target)
    df_min = df.drop_duplicates(subset=['SMILES'])
    df_max = df.drop_duplicates(subset=['SMILES'], keep='last')
    return df_min, df_max

In [37]:
df_Tendo_min, df_Tendo_max = getmaxmin(df_Tendo, 'T_endo (K)')
df_Texo_min, df_Texo_max = getmaxmin(df_Texo, 'T_exo (K)')
df_Hendo_min, df_Hendo_max = getmaxmin(df_Hendo, 'dH_endo (kJ/mol)')
df_Hexo_min, df_Hexo_max = getmaxmin(df_Hexo, 'dH_exo (kJ/mol)')

In [39]:
print('-----T_endo (K)-----')
print('Before: ', df_Tendo.shape[0])
print('After: ', df_Tendo_min.shape[0], df_Tendo_max.shape[0])

print('-----T_exo (K)-----')
print('Before: ', df_Texo.shape[0])
print('After: ', df_Texo_min.shape[0], df_Texo_max.shape[0])

print('-----dH_endo (kJ/mol)-----')
print('Before: ', df_Hendo.shape[0])
print('After: ', df_Hendo_min.shape[0], df_Hendo_max.shape[0])

print('-----dH_exo (kJ/mol)-----')
print('Before: ', df_Hexo.shape[0])
print('After: ', df_Hexo_min.shape[0], df_Hexo_max.shape[0])

-----T_endo (K)-----
Before:  144
After:  88 88
-----T_exo (K)-----
Before:  110
After:  72 72
-----dH_endo (kJ/mol)-----
Before:  64
After:  46 46
-----dH_exo (kJ/mol)-----
Before:  52
After:  37 37

In [45]:
path = '../datasets/regression/'
os.makedirs(path, exist_ok=True)
df_Tendo_max.to_csv(path+'Tendo_max.csv')
df_Tendo_min.to_csv(path+'Tendo_min.csv')
df_Texo_max.to_csv(path+'Texo_max.csv')
df_Texo_min.to_csv(path+'Texo_min.csv')
df_Hendo_max.to_csv(path+'Hendo_max.csv')
df_Hendo_min.to_csv(path+'Hendo_min.csv')
df_Hexo_max.to_csv(path+'Hexo_max.csv')
df_Hexo_min.to_csv(path+'Hexo_min.csv')